.login-form{
  max-width: 300px;
}

.imgDiv{
  width: 100%;
  vertical-align: middle;
  margin-bottom: 40px ;
}
.login-form-margin{
  margin-bottom: 26px;
}
.login-form-forgot{
  float:right;
}

.login-form-button{
  width: 100%;
}

.child{
  padding: 50px;
  position: absolute;
  width: 380px;
  background-color: #b1ccff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 15px -7px rgba(0,0,0,0.1);
  border-radius: 5px;
  margin-bottom: 32px;
}

.parent{
  width: 100%;
  height: 91vh;
  position: relative;
}
.bg {
  position: relative;
  width: 100%;
  height: 100vh;
  background: rgba(248, 248, 248, 0.3) !important; /* Arka plan rengi ve saydamlık derecesi */
  z-index: 0;
  background-size: cover !important;
  background-position: center !important;
}

.bg:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://projectsly.com/images/task-management-screenshot-1.png?v=1691124479409199525');
  background-size: cover;
  background-position: center;
  opacity: 0.2; /* Arka plan fotoğrafının saydamlık derecesi */
  z-index: -1; /* Arka planı en alta alır */
}



.login-form-container {
  position: relative;
  z-index: 1; /* Login formunu arka plan fotoğrafının üzerine getir */
}

.login-form-container {
  opacity: 1; /* İçerik olan login formunun tamamen opak olması */
}


button{
  background-color: #001529;
}








