
<div *ngIf ="!isAdminLoggedIn && !isEmployeeLoggedIn" >
  <nz-header class="main-header" nz-row nzType="flex" class="custom-navbar">
    <div>
      <a style="color: white; margin-left:50px; font-size:20px; font-weight:bolder;font-style: italic"
         routerLink="/login"  routerLinkActive="active" >Görev Yönetim Sistemi</a>
    </div>
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/signup" routerLinkActive="active">Kaydol </a>
      <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">Giriş Yap </a>
    </div>
  </nz-header>
</div>

<div *ngIf ="isAdminLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" class="custom-navbar">
    <div>
      <a style="color: white; margin-left:50px; font-size:20px; font-weight:bolder;font-style: italic"
         routerLink="/admin/dashboard">Görev Yönetim Sistemi</a>
    </div>
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="admin/dashboard" routerLinkActive="active">Ana Sayfa </a>
      <a nz-button nzType="link" routerLink="admin/task" routerLinkActive="active">Görev Ekle </a>
      <a nz-button nzType="link" routerLink="admin/users" routerLinkActive="active">Personel </a>
      <a nz-button nzType="link" (click)="logout()"  routerLinkActive="active">Çıkış Yap </a>
    </div>
  </nz-header>
</div>

<div *ngIf ="isEmployeeLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" class="custom-navbar">
    <div>
      <a style="color: white; margin-left:50px; font-size:20px; font-weight:bolder;font-style:italic"
         routerLink="/customer/dashboard"> Görev Yönetim Sistemi</a>
    </div>
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="employee/dashboard" routerLinkActive="active">Ana Sayfa </a>
      <a nz-button nzType="link" routerLinkActive="active" (click)="logout()">Çıkış Yap </a>

    </div>
  </nz-header>
</div>

<router-outlet></router-outlet>



